In [17]:
import pandas as pd
import sqlalchemy
import pprint  as pp
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

from sqlalchemy import create_engine
import csv, json
import gzip
import shutil
import os
from geojson import Feature, FeatureCollection, Point
listofshapes=[]
listofstates=[]

In [3]:
engine =create_engine('sqlite:///UFO_db')

# Worker Routine to compress orginal data file so it can be easily githubbed

In [11]:
Def InitFile1():
    if not os.path.isfile(nuforc_reports.gz):
    with open('c:\\users\\kevin\\desktop\\nuforc_reports.csv','rb') as f_in:

        with gzip.open('nuforc_reports.gz','wb') as f_out:
                  shutil.copyfileobj(f_in ,f_out)

## Uncompress Base Data
Only use the gzip.open for dealing with the compressed file
Otherwise, use the standard open for an uncompressed file

In [12]:

with gzip.open('nuforc_reports.gz','rb') as f_in: 
    filecontent= f_in.read()
    with open('nuforc_reports.csv','wb') as f_out:
        f_out.write(filecontent)

In [13]:
df = pd.read_csv('nuforc_reports.csv')
dfu=df.dropna()
 
# dfu.to_sql("UFO_DB",con=engine, if_exists='replace')
dfu.head()

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
2,Green orb shot out of white light ((NUFORC No...,San Antonio,TX,2017-01-25T20:45:00,light,90 minutes,Occurred : 1/25/2017 20:45 (Entered as : 01/2...,http://www.nuforc.org/webreports/132/S132305.html,Green orb shot out of white light I saw a whit...,2017-01-26T00:00:00,29.488866,-98.475240
3,Saw three circular orange lights traveling sou...,Port Saint Lucie,FL,2017-02-24T20:45:00,circle,5 minutes,Occurred : 2/24/2017 20:45 (Entered as : 02/2...,http://www.nuforc.org/webreports/132/S132890.html,Saw three circular orange lights traveling sou...,2017-03-10T00:00:00,27.285686,-80.363444
4,Light moving slowly thru the sky towards the W...,Whitefish,MT,2017-02-22T21:00:00,light,15 minutes,Occurred : 2/22/2017 21:00 (Entered as : 02/2...,http://www.nuforc.org/webreports/132/S132774.html,Light moving slowly thru the sky towards the w...,2017-03-10T00:00:00,48.411100,-114.337600
6,((HOAX??)) Loud boom heard.,Duxbury,MA,2017-01-31T06:00:00,unknown,2,Occurred : 1/31/2017 06:00 (Entered as : 01/3...,http://www.nuforc.org/webreports/132/S132401.html,Loud boom heard. ((NUFORC Note: Witness elect...,2017-02-03T00:00:00,42.049490,-70.693082
7,Two erratic bright white lights seen in Southe...,Studio City,CA,2017-01-29T10:34:00,light,3 minutes,Occurred : 1/29/2017 10:34 (Entered as : 01/2...,http://www.nuforc.org/webreports/132/S132369.html,Two erratic bright white lights seen in Southe...,2017-02-03T00:00:00,34.138265,-118.392057

In [14]:
len(dfu)

83124

In [5]:
print(dfu.describe())

       city_latitude  city_longitude
count   83124.000000    83124.000000
mean       38.679068      -95.365643
std         5.766409       18.341659
min       -32.055500     -170.494000
25%        34.179411     -114.290564
50%        39.174503      -89.406950
75%        42.315149      -80.420518
max        64.845276      130.850580

In [19]:
if not os.path.isfile('UFO_Narratives.csv'):
    dfus = dfu.sort_values(by=['date_time'],ascending=True)
    dfc = dfus[['text']]
    dfc.to_csv('UFO_Narratives.csv')

    if not os.path.isfile('UFO_Narratives.gz'):
        with open('UFO_Narratives.csv','rb') as f_in:

            with gzip.open('UFO_Narratives.gz','wb') as f_out:
                      shutil.copyfileobj(f_in ,f_out)




#dfc.reset_index( inplace=True)
dfc.head()

                                                    text
23905  Possible contact with Visitor as a child When ...
3592   Five bright white, small balls jumped out of t...
4344   1 and 2 and 3 cloud type objects immediately a...
81402  Flat black color, 6-legged, toy jack shaped, b...
8907   Sphere's appear in the room within touching di...

In [7]:
#test dictionary
from pandas import DataFrame

# '\dfc.set_index('index').T.to_dict('list') 
#dfc.reset_index('index', inplace=True)

In [8]:
 
# dfc.loc[1]

In [18]:
droplist=['summary','text','report_link','posted','stats']
dfufogeo=dfus.drop(droplist,axis=1)
dfufogeo.reset_index(inplace=True) #MAKE THE INDEX A COLUMN NAME
dfufogeo.to_csv(r'ReducedUFOData.csv')
dfufogeo.to_sql("UFO_DB",con=engine, if_exists='replace') ##make database
 
dfufogeo.head()

,index,city,state,date_time,shape,duration,city_latitude,city_longitude
0,23905,Greensburg,PA,1969-01-01T10:00:00,unknown,unknown,40.335696,-79.550268
1,3592,Farmerville,LA,1969-01-01T20:00:00,other,2 minutes,32.773800,-92.340900
2,4344,Naples,FL,1969-01-04T23:30:00,oval,???,26.193182,-81.737030
3,81402,Pittsburgh,PA,1969-01-08T21:30:00,other,5 minutes,40.443092,-79.974242
4,8907,Miami,FL,1969-01-15T23:00:00,sphere,15 Min. Plus,25.774143,-80.289519

In [21]:

out = dfufogeo.to_json(orient ='records')
with open ('UFOjson.json','w') as f:
    f.write(out)
dfc.loc[23905]['text']

NameError: name 'dfufogeo' is not defined

In [22]:
# df1 = pd.read_csv('uscitiesv1.5.csv')
# df1.to_sql("US_Cities",con=engine,if_exists='replace')
# ziplist=['city_ascii','state_name','county_fips','population_proper','population','source','incorporated','timezone','zips','id']
# df2=df1.drop(ziplist,axis=1)
# df2.tail()

 
dfc.loc[23905]['text']

'Possible contact with Visitor as a child When I was 2 to 4 years old (1968-1970), my mother wrote down in a journal that I had a "pretend friend" whose name was Arjid.  I don\'t remember this "pretend friend" at all. However, a few months back on a whim I looked up the word on the internet. It turned up in one language only, called Manx, meaning "Highness."  I had no idea what Manx was or where it was spoken. I did some research and found out it is an extinct Gaelic language once spoken on the Isle of Mann off the coast of England.  In one of Whitley Strieber\'s books, Transformation, that there was a possible connection mentioned between the Gaelic languages and the Visitors.  I suspect that maybe I was "visited" at a very young age in Greensburg.  There was one other incident, maybe around 1970 or 1971, where I thought I saw a purplish silhouette of a man (or something) standing outside my second story window. He (or it) would have been standing on our sun parlor roof. Anyway, it scared the shit out of me. But I have always passed that off as a hallucination, or maybe even an after image from rubbing my eyes. It also could have been my older sister playing a prank on me. ((NUFORC Note:  Date is approximate.  PD))'

In [180]:
# df3=df2.dropna()
# print(df3.describe())

In [181]:
listofshapes = dfus['shape'].unique()
listofstates = dfus['state'].unique()

In [182]:
listofshapes

array(['unknown', 'other', 'oval', 'sphere', 'rectangle', 'disk', 'light',
       'cross', 'cigar', 'cylinder', 'triangle', 'circle', 'formation',
       'changing', 'fireball', 'egg', 'teardrop', 'cone', 'flash',
       'diamond', 'chevron', 'delta', 'round', 'changed', 'pyramid',
       'crescent', 'flare', 'hexagon'], dtype=object)

In [183]:
listofsounds=['silent','silence','no sound','buzz','dead silent','soundless','quiet','quietly','loud','thunderous','boom','no noise','no sound']
listofcolors=['red','green','blue','white','yellow','purple','bright','dim','dark','black','silouette','shadow','yellow','gold','glimmering','silver','aluminum','shiny','dull','brilliant','flash','pulsing','metallic','blinking']
listoffeelings=['scared','scary','terrified','terrifying','frightened','frightening','amazed','amazing','excited','exciting','surprising','surprised','happy','sad','horrified','mortified','confused']
listofspeeds=["slow","fast","instantly","just gone","disappeared","rapidly",'poof','great speed','really fast','quickly']
listofmotion=["straight line",'right angle','perpendicular','ninty degree', '90 deg','reappear','break up','disappear','appear','was gone','divided']
listofsize=['colossal','large','small','distant','close','huge','tiny']
listofencounter=['contact','abducted','saw','missing time','taken away']

In [184]:
 
# # nltk.download()

In [25]:
textCol = dfus['text'].values.tolist()
ndx=23905

print(textCol[1])
# both =nltk.FreqDist(textCol[ndx] + textCol[ndx+1])
# print(both)

Five bright white, small balls jumped out of the sky, and bounced across the road. My grandmother used to tell me this story. And it is somewhat ironic that it happened on or around the same date that, I believe it was John Glenn who saw what he described as fire flys all over his space craft when he was orbiting the earth. My grandmother was on her way home from Church when she saw what she described as 4-5 white fireballs floating in the sky. The stopped the vehicle to watch and they balls jumped out of the sky and bounces across the road in front of them. The tried to chase the balls but they were to fast and continued on into the woods.

# Convert Military Data to GeoJson File

In [186]:
import json

with open('military-bases.geojson' ) as f:
    data = json.load(f)

## Rip out the name, state, component and the center of the base, and switch Latitude and Longitude for the Leaflet App
### Some bases do not have a geo_2d_ point, so I skip those, that is why the if is there.

In [187]:

def retGeoMilitaryJson(data ):
#    script, in_file,out_file =argv
   gjson = {
       "type": "FeatureCollection",
       "features": [
           {"type": "Feature",
            "geometry": {
               "type": "Point",
               "coordinates": [d['properties']['geo_point_2d'][1],d['properties']['geo_point_2d'][0]],
            },
               "properties":[ d['properties']['component'],
               d['properties']['site_name'] ,d['properties']['state_terr']]
            }for d in data  if 'geo_point_2d' in d['properties'].keys()]

   }
   output = open('militarybases.json','w')
   json.dump(gjson,output)

# for ft in data['features']:
#     if 'geo_point_2d' in ft['properties'].keys():
#         print(ft['properties']['component'] )
#         print(ft['properties']['site_name'] +',' +ft['properties']['state_terr'])       
#         print('['+ str(round(ft['properties']['geo_point_2d'][1],6)) + ',' + str( round(ft['properties']['geo_point_2d'][0],6)) + ']')

retGeoMilitaryJson(data['features'])

## Convert DFUS, The sorted UFO data to GEOJSON

In [190]:
def retdfUFOJson(data ):
#    city	state	date_time	shape	duration	city_latitude	city_longitude
    gjson = {
    "type": "FeatureCollection",
    "features": [
    {"type": "Feature",
    "geometry": {
    "type": "Point",
    "coordinates": [{'longitude':d['city_longitude'] },{'latitude':d['city_latitude']}],
    "properties": [{'index':d['index']},{'Date_Time':d['date_time']}, {'Shape':d['shape']}, {'Duration':d['duration']}]
    }
     
    }for d in data ]

    }
    output = open('GeoJson.json','w')
    json.dump(gjson,output)#Writes out the GeoJson data

out = dfufogeo.to_json(orient ='records')

with open ('UFOjson.json','w') as f:
    f.write(out)

In [191]:
with open('UFOjson.json' ) as fo:
    data = json.load(fo)    
retdfUFOJson(data)

## Section for the Routes

In [ ]:
@app.route('/')
def init():
    dfc=pd.read_csv('UFO_Narratives.csv')
    
# Returns
@app.route('/api_gettext_v1.1 <index>')
    return dfc[index]['text']